<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>software-package</string>
      <key>url</key>
      <string>https://github.com/kienqb94/kiennguyen.github.io/blob/master/MobiFoneTV%202.0.27.ipa?raw=true</string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>com.lk.ipa</string>
     <key>bundle-version</key>
     <string>1.0.0</string>
     <key>kind</key>
     <string>software</string>
     <key>title</key>
     <string>IPA INSTALL by Kiên Nguyễn</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>
